@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* for css variable */
:root {
  --gradient-one: linear-gradient(
    to right,
    #7755ff 0%,
    #6943ff 0%,
    #2f2ce9 100%
  );
  --gradient-two: linear-gradient(
    171deg,
    rgba(37, 33, 201, 1) 0%,
    rgba(37, 33, 201, 1) 0%,
    rgba(77, 33, 201, 1) 100%
  );
  --very-light-blue: #ecf2ff;
  --yellow: #ffb21e;
  --yellow-white: rgba(252, 255, 198, 0.95);
  --blue: #1125d6;
  --blue-white: rgba(17, 37, 214, 0.05);
  --green: #00bb8f;
  --green-white: #7fffd4;
  --red: #ff5555;
  --red-white: #ffe3e3;
  --dark-navy: #303b59;
  --light-blue: #cac9ff;
  --very-light-blue: #ecf2ff;
  --white: #ffffff;
  --font-body: 18px;
  --font-heading-M: 24px;
  --font-heading-L: 32px;
  --font-heading-XL: 72px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", serif;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
header {
  padding: 15px 10px;
  text-align: center;
  background: var(--gradient-one);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.result {
  font-weight: bold;
  font-size: var(--font-body);
  color: var(--light-blue);
  text-align: center;
}
.rounded {
  background: linear-gradient(
    to bottom,
    #2521c9 0%,
    #2521c9 0%,
    rgba(77, 33, 201, 0) 100%
  );
  width: 140px;
  margin: 0 auto;
  height: auto;
  border-radius: 50%;
}
p.value {
  font-size: 52px;
  font-weight: 800;
  padding-top: 25px;
  margin-bottom: 1px;
  color: var(--white);
}
p.of-value {
  color: var(--light-blue);
  margin-top: 1px;
  padding-bottom: 25px;
}
.status {
  margin: 0 auto;
  max-width: 300px;
}
.status h1 {
  font-size: var(--font-heading-M);
  color: var(--white);
}
.status p {
  font-size: 16px;
  color: var(--light-blue);
}
.container {
  padding: 30px;
}
.container h3 {
  font-size: var(--font-body);
}
.card {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-img {
  display: flex;
  gap: 10px;
}
.red {
  background: #ffd6d6;
  border-radius: 0.5em;
}
.yellow {
  background: var(--yellow-white);
  border-radius: 0.5em;
}
